.jumbotron{
	background-color: #2a73cc;
	color: white;
}
footer{
	padding:10px 10px 0 10px;
	background-color: #2a73cc;
	margin-bottom: 0px;
	margin-top: 10px;
	color: white;
}
div a{
color: white;
}
.item-tienda{
	flex: 1 150px;
	padding: 2px 5px;
}
.btn-reserver{
	width: 100%;
}